@media screen and (max-width: 2000px){
	body{
	margin: 0;
	font-family: 'Maven Pro';
 }

.main{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-image: url("http://dezhur.com/uploads/721c90712a2a1c2f8611dd59896ce073.jpg");  
	background-size: cover;
	position: relative;
}
html{
	font-size: 20px;
}
.del{
	text-decoration: none;
}
.main-overlay{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 0;
	background-image: url("http://www.solidbackgrounds.com/images/2880x1800/2880x1800-olive-drab-number-seven-solid-color-background.jpg"); 
	background-size: cover;



}

.header{
	display: flex;
	justify-content: space-between;
	height: 10vh;
	align-items: center;
	width: 90%;
	position: relative;
	z-index: 2;
	
}
.menu{
	width: 100%;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;


}
.menu-link{
	color:white;
	border: 1px ;
	text-decoration: none;
	font-weight:bold;
}
.menu a:hover {  
color: white; 
opacity: 0.8;
} 
.registration{
	margin-left: 50px; 
	border: 1px solid white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	font-weight:bold;
}
.main-text{
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	z-index:2;
	text-align: center;
}
.main-text span{
	position: relative;
	z-index:2;
	text-align: center;

}
.main-text h1{
	font-size: 50px;
}
.main-arrow{
	position: relative;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	

}
.table{
	background-image: url("https://images.unsplash.com/photo-1493515694075-fff2d464227d?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); 
	opacity: 0.9;
	height: 100vh;
	min-height: 600px;
	padding: 3rem;
	z-index: 0;

}
.table-header{
	text-align: center;
	margin-bottom: 2rem;
}
.table-header span{
	text-transform: uppercase;
	font-size: 2rem;
	color: #9fa4af;
}


.price-tags{
	display: flex;
	justify-content: space-between;
	text-align: center;
	v

}
.price-tag{
	border-radius: 10%;
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
    border:1px solid red;
    width: 300px;
    transition: 1s;
  
  
}
.price-tag:hover{
	cursor: pointer;
	 box-shadow: 0px 0px 81.88px 10.12px rgba(204,204,223,0.71)

}
.price-tag span{
	font-size: 1rem;
	padding-top: 2rem; 
}
.price-tag p{
	color: #9fa4af;
}

img{
	height: 75px;
	width: 100px;
}
footer { 
color: rgba(255, 255, 255, 0.9); 
background: black; 
width: 100%; 
text-align: center; 
padding: 12px 0; 

} 
}
@media screen and (max-width: 1191px){
	body{
	margin: 0;
	font-family: 'Maven Pro';
 }
html{
	font-size: 16px; 
}
.main{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-image: url("http://dezhur.com/uploads/721c90712a2a1c2f8611dd59896ce073.jpg");  
	background-size: cover;
	position: relative;
}

.main-overlay{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 0;
	background-image: url("http://www.solidbackgrounds.com/images/2880x1800/2880x1800-olive-drab-number-seven-solid-color-background.jpg"); 
	background-size: cover;



}

.header{
	display: flex;
	justify-content: space-between;
	height: 10vh;
	align-items: center;
	width: 90%;
	position: relative;
	z-index: 2;
	
}
.menu{
	width: 100%;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;


}
.menu-link{
	color:white;
	border: 1px ;
	text-decoration: none;
	font-weight:bold;
}
.menu a:hover {  
color: white; 
opacity: 0.8;
} 
.registration{
	margin-left: 50px; 
	border: 1px solid white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	font-weight:bold;
	display: none;
}
.main-text{
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	z-index:2;
	text-align: center;
}
.main-text span{
	position: relative;
	z-index:2;
	text-align: center;

}
.main-text h1{
	font-size: 50px;
}
.main-arrow{
	position: relative;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	

}
.table{
	background-image: url("http://slodive.com/wp-content/uploads/2012/04/wood-background/wood-dark-background.jpg"); 
	opacity: 0.9;
	height: 100vh;
	min-height: 600px;
	padding: 3rem;
	z-index: 0;

}
.table-header{
	text-align: center;
	margin-bottom: 2rem;
}
.table-header span{
	text-transform: uppercase;
	font-size: 2rem;
	color: #9fa4af;
}


.price-tags{
	display: flex;
	justify-content: space-between;
	text-align: center;
	v

}
.price-tag{
	border-radius: 10%;
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
    border:1px solid red;
    width: 300px;
   transition: 1s;
  
  
}
.price-tag:hover{
	cursor: pointer;
	 box-shadow: 0px 0px 81.88px 10.12px rgba(204,204,223,0.71)

}
.price-tag span{
	font-size: 1rem;
	padding-top: 2rem; 
}
.price-tag p{
	color: #9fa4af;
}

img{
	height: 75px;
	width: 100px;
}
footer { 
color: rgba(255, 255, 255, 0.9); 
background: black; 
width: 100%; 
text-align: center; 
padding: 12px 0; 

} 
}
@media screen and (max-width: 759px){
	body{
	margin: 0;
	font-family: 'Maven Pro';
}
html{
	font-size: 10px;
}

.main{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-image: url("http://dezhur.com/uploads/721c90712a2a1c2f8611dd59896ce073.jpg");  
	background-size: cover;
	position: relative;
}
.main-overlay{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 0;
	background-image: url("http://www.solidbackgrounds.com/images/2880x1800/2880x1800-olive-drab-number-seven-solid-color-background.jpg"); 
	background-size: cover;



}


.header{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 10vh;
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 2;
	
}
.menu{
	width: 100%;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;


}
.menu-link{
	color:white;
	border: 1px ;
	text-decoration: none;
	font-weight:bold;
}
.menu a:hover {  
color: white; 
opacity: 0.8;
} 
.registration{
	margin-left: 50px; 
	border: 1px solid white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	font-weight:bold;
	display: none;
}
.main-text{
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	z-index:2;
	text-align: center;
}
.main-text span{
	position: relative;
	z-index:2;
	text-align: center;

}
.main-text h1{
	font-size: 1rem;
}
.main-arrow{
	position: relative;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	

}
.table{
	background-image: url("http://slodive.com/wp-content/uploads/2012/04/wood-background/wood-dark-background.jpg"); 
	opacity: 0.9;
	height: 100vh;
	min-height: 600px;
	padding: 3rem;
	z-index: 0;

}
.table-header{
	text-align: center;
	margin-bottom: 2rem;
}
.table-header span{
	text-transform: uppercase;
	font-size: 2rem;
	color: #9fa4af;
}


.price-tags{
	display: flex;
	justify-content: space-between;
	text-align: center;
	v

}
.price-tag{
	border-radius: 10%;
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
    border:1px solid red;
    width: 300%;
   transition: 1s;
  
  
}
.price-tag:hover{
	cursor: pointer;
	 box-shadow: 0px 0px 81.88px 10.12px rgba(204,204,223,0.71)

}
.price-tag span{
	font-size: 1rem;
	padding-top: 2rem; 
}
.price-tag p{
	color: #9fa4af;
}

img{
	height: 75px;
	width: 100px;
}
footer { 
color: rgba(255, 255, 255, 0.9); 
background: black; 
width: 100%; 
text-align: center; 
padding: 12px 0; 

} 
}
